Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1687884292427/work
certifi==2023.7.22
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1688813409104/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1686733899847/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
emmet-core @ file:///home/conda/feedstock_root/build_artifacts/emmet-core_1690329671644/work
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1691006652246/work
frozendict @ file:///Users/runner/miniforge3/conda-bld/frozendict_1682808197573/work
future @ file:///home/conda/feedstock_root/build_artifacts/future_1673596611778/work
gmpy2 @ file:///Users/runner/miniforge3/conda-bld/gmpy2_1666808749046/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1688155275339/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1666805828768/work
latexcodec @ file:///home/conda/feedstock_root/build_artifacts/latexcodec_1592937263153/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1688685076282/work
monty @ file:///home/conda/feedstock_root/build_artifacts/monty_1683559865687/work
mp-api @ file:///home/conda/feedstock_root/build_artifacts/mp-api_1684183987087/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
msgpack @ file:///Users/runner/miniforge3/conda-bld/msgpack-python_1678312884847/work
munkres==1.1.4
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1680692919326/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1688887121808/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1681337016113/work
palettable @ file:///home/conda/feedstock_root/build_artifacts/palettable_1682018334297/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1688740601640/work
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1688255923578/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1690813113769/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1686267560832/work
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1679580333621/work
pybtex @ file:///home/conda/feedstock_root/build_artifacts/pybtex_1638467081712/work
pydantic @ file:///Users/runner/miniforge3/conda-bld/pydantic_1690476344648/work
pymatgen @ file:///Users/runner/miniforge3/conda-bld/pymatgen_1689886270108/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1680088766131/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1666772688941/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
ruamel.yaml @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml_1686993963108/work
ruamel.yaml.clib @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml.clib_1670412930997/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1687995684757/work/base/dist/scipy-1.11.1-cp311-cp311-macosx_11_0_arm64.whl#sha256=5b443b6ed2b20b1c669dc9ef3a7db2b7de2a61b70a0a1bd0e384bd351e6d41b2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
spglib @ file:///Users/runner/miniforge3/conda-bld/spglib_1667729819050/work/python
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1684180540116/work
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1665138452165/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1677600641219/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1677948868469/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1688315532570/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1680081134351/work
uncertainties @ file:///home/conda/feedstock_root/build_artifacts/uncertainties_1655664167081/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1689789803562/work
